CAN/node-red/flow_mqtt_broker.json
[{"id":"fdb1bf65.a0e44","type":"socketcan-out","z":"1c44fa93.633f45","name":"socketcan-out","config":"4495d040.ad577","x":295,"y":892,"wires":[["969a21b1.b40d1"]]},{"id":"64253967.e108f8","type":"debug","z":"1c44fa93.633f45","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":705,"y":892,"wires":[]},{"id":"969a21b1.b40d1","type":"function","z":"1c44fa93.633f45","name":"","func":"can = msg.payload;\n\nmsg.payload  = `Timestamp: ${can.timestamp}\\n`;\nmsg.payload += `Extended: ${can.ext}\\n`;\nmsg.payload += `Id: ${can.canid.toString(16)}\\n`;\nmsg.payload += `DLC: ${can.dlc}\\n`;\nmsg.payload += `RTR: ${can.rtr}\\n`;\nmsg.payload += `Array: ${can.data.toString()}`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":495,"y":892,"wires":[["64253967.e108f8"]]},{"id":"dce3db57.c07fb8","type":"socketcan-in","z":"1c44fa93.633f45","name":"socketcan-in","config":"4495d040.ad577","x":730,"y":830,"wires":[]},{"id":"5795bc88.f52614","type":"mqtt in","z":"1c44fa93.633f45","name":"","topic":"vscom/socketcan/message","qos":"2","datatype":"auto","broker":"6554d5a1.83412c","x":337,"y":829,"wires":[["dce3db57.c07fb8"]]},{"id":"2c376ad2.781d96","type":"mqtt out","z":"1c44fa93.633f45","name":"","topic":"vscom/socketcan/message","qos":"","retain":"","broker":"6554d5a1.83412c","x":683,"y":767,"wires":[]},{"id":"7ae6172a.631758","type":"inject","z":"1c44fa93.633f45","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"00000222#0102030405","payloadType":"str","x":361,"y":767,"wires":[["2c376ad2.781d96"]]},{"id":"4495d040.ad577","type":"socketcan-config","interface":"can0","bitrate":"1000000"},{"id":"6554d5a1.83412c","type":"mqtt-broker","name":"","broker":"broker.emqx.io","port":"1883","clientid":"socketcan_test","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":"","credentials":{}}]